
body{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    background-color: grey;
    box-sizing: border-box;
  }
  /* inicia el header*/
header{
    display: flex;
    flex-direction: row;
    background-color: darkslateblue;
    height: 10vh;
    width: 100%;
    
}
body header nav ul{
    list-style: none;
    align-items:center;
    background-color: red;
}
.logo{
    width: 100px;
    height: 10vh;
    background-image: url(./image/logo1.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header nav {
    width: 80%;
}


/* inicia el main*/
main{
  
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;

}

/*primera seccion del main*/
main .one{
    width: 100%;
    height: 70%;
    background-color: #f7e5ce;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    
}


main .one .div-c{
    grid-row: 1 / span 2;  /*ver este temas mas detenidamente*/
    grid-column: 3;
}

main .one div{
    border-radius: 5px;
    background-color: aliceblue;

}

/*segunda seccion del main*/
main .two{
    width: 100%;
    height: 30%;
    background-color: #f7e5ce;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,auto);
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

/*tarjetas de la segunda seccion*/
main .two .div-f{
    background-image: url(./image/catarata.jpeg);
    background-size: cover;
    border-radius: 5px;
}

main .two .div-g{
    background-image: url(./image/montana.jpeg);
    background-size: cover;
    border-radius: 5px;
}
main .two .div-h{
    background-image: url(./image/paraiso.jpeg);
    background-size: cover;
    border-radius: 5px;
}
main .two .div-i{
    background-image: url(./image/playa.jpeg);
    background-size: cover;
    border-radius: 5px;
}

/*tarjetas de la primera seccion*/
main .one .div-a{
    display: flex;
    flex-direction: row;
}

main .one .div-a .card-image{
    width: 70%;
    height: 100%;
    background-image: url(./image/norte.jpeg);
    background-repeat: no-repeat;
    border-radius: 5px 0px 0px 5px;
    background-size: cover;
}

main .one .div-a .card-desc{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(191, 245, 160);
}


/*footer*/
footer{
   
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

footer form{
    width: 50%;
    background-color: yellow;
    height: 10vh;
    
}

footer .redes{
    width: 50%;
    background-color: yellowgreen;
    height: 10vh;
}