/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body{
    width:90vw;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.contenedor{
    background-color: rgb(219, 218, 218);
    display:flex;
    flex-direction: row;
    flex-grow: 2;
    margin: 10px;
}

.contenedor.lateral{
    display:flex;
    flex-direction: column;
    
    background-color: lightblue;
    
    padding: 10px;
    border: 10px;
}

.contenedor .lateral .logo{
    border-radius: 50%;
    padding:10px

}

.enlaces a{
    font-size: 2rem;
    text-decoration-line: none;
}



.principal{
    flex-grow: 10;
    background-color: rgb(219, 218, 218);
    height: 100vh;
    padding: 15px;
}

.cocineros{
    flex-grow: 10;
    width: 100%;
    background-color: blueviolet;
}