@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

h2{

    font-family: 'Bangers', cursive;
    
}

header{
    background-color: #110202;
    text-align: center;
    font-size: large;
    color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
    transition: background-color .3s;
    font-family: 'Bangers';
}

.datos{
    background-color: #fff;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    transition: background-color .3s
    
    
}
.datos h2{
    text-align: center;
    color: #464444;
}

.datos:hover {
    background-color: rgb(179, 179, 176);
}

.estudios{
    background-color: #d8f596;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    transition: background-color .3s
}

.estudios h2{
    text-align: center;
    color: #464444;
}

.estudios:hover {
    background-color: #9aad6c;
}

.experiencia{
    background-color: #9ff3b8;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    transition: background-color .3s
}
.experiencia h2{
    text-align: center;
    color: #464444;
}

.experiencia:hover {
    background-color: #578666;
}

footer{
    background-color: #110202;
    height: auto;
    margin: 15px;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: .8em;
    border-radius: 5px;
}

.nombre:hover{
    color: rebeccapurple;
    font-style: italic;
    text-decoration-line: underline;
    font-
}