*{
    padding: 0px;   
    margin: 0px;
    box-sizing: border-box;
}
body{
    clear: both;
    width: 90%;
    color: white;
    background-color:#000;
    margin: auto;
    padding: 0px;
    align-items: center;

    
}

header{
    height: 140px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
}

header nav{
    height: 70px;

}
header nav ul li{
    list-style-type: none;
    float: left;
    display: inline-block;
    text-align:center;
    margin: 0px 30px;
    margin-top: 30px;
    margin-top: 18px;
}
.luna {
    
}
aside{
    width: 20%;
    height: 590px;
    float: left;
    position:absolute;
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    display: grid;
    place-items: center;
    line-height: 40px;

}

aside ul li{
    
    text-align: center;
    list-style: none;

}

main{
    float:right;
    width: 70%;
    height: 590px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
}

main section p{
    text-align: justify;
    text-indent: 2em;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

footer{
    clear: both;
    height: 50px;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px; 
    padding: 10px;  
    margin-top: 630px;
}
